<div class="container-fluid">
    <div class="panel registration-panel panel-info">
        <div class="panel-heading">Registration</div>
        <div class="panel-body registration-body">
            <form role="form" ng-submit="register()" ng-class="{'has-error': error}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="avatar" flow-init>
                            <div class="thumbnail" ng-show="true">
                                <img src="/resources/images/anonymous.gif"/>
                            </div>

                            <button class="btn btn-primary load-avatar-btn btn-xs" flow-btn flow-attrs="{accept:'image/*'}">
                                <span class="glyphicon glyphicon-picture"></span> Load Avatar
                            </button>

                        </div>
                    </div>

                    <div class="col-md-7 registration-input-group">
                        <div class="input-group graphic-input">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                            <input type="text" class="form-control" ng-model="credentials.username"
                                   placeholder="Login">
                        </div>

                        <div class="input-group graphic-input" ng-class="{'has-error': error}">
                            <span class="input-group-addon glyphicon glyphicon-lock"></span>
                            <input type="password" class="form-control" ng-model="credentials.password"
                                   placeholder="Password">
                        </div>

                        <div class="input-group graphic-input" ng-class="{'has-error': error}">
                            <span class="input-group-addon glyphicon glyphicon-lock"></span>
                            <input type="password" class="form-control" ng-model="credentials.confirmPassword"
                                   placeholder="Confirm Password">
                        </div>

                        <div class="input-group graphic-input" ng-class="{'has-error': error}">
                            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                            <input type="text" class="form-control" ng-model="credentials.email"
                                   placeholder="Email">
                        </div>

                        <div class="input-group graphic-input" ng-class="{'has-error': error}">
                            <span class="input-group-addon glyphicon glyphicon-font"></span>
                            <input type="text" class="form-control" ng-model="credentials.first_name"
                                   placeholder="First Name">
                        </div>

                        <div class="input-group graphic-input" ng-class="{'has-error': error}">
                            <span class="input-group-addon glyphicon glyphicon-bold"></span>
                            <input type="text" class="form-control" ng-model="credentials.last_name"
                                   placeholder="Last Name">
                        </div>

                        <div class="registration-button-group">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-upload"></span> Register
                            </button>

                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-download"></span> Cancel
                            </button>

                        </div>
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>