<div class="container-fluid">
    <div class="panel registration-panel panel-info">
        <div class="panel-heading">Registration</div>
        <div class="panel-body registration-body">
            <form name="registration" ng-submit="register()">
                <div class="row">
                    <div class="col-sm-3 avatar" flow-init>
                        <div class="thumbnail" ng-show="true">
                            <img ng-if="!$flow.files[0]" ng-src="resources/images/anonymous.gif"/>
                            <img ng-if="$flow.files[0]" flow-img="$flow.files[$flow.files.length-1]"/>
                        </div>

                        <button class="btn btn-primary load-avatar-btn" flow-btn flow-attrs="{accept:'image/*'}">
                            <span class="glyphicon glyphicon-picture"></span> Load
                        </button>

                    </div>
                    <div class="col-md-8 registration-input-group">
                        <div class="form-group graphic-input has-feedback"
                             ng-class="{'has-error' : registration.login.$invalid && !registration.login.$pristine,
                                        'has-success' : registration.login.$valid && !registration.login.$pristine}">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                <input type="text" class="form-control" name="login" ng-model="data.login"
                                       placeholder="Login" required/>
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-show="registration.login.$valid" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-show="registration.login.$invalid && !registration.login.$pristine"
                                  aria-hidden="true"></span>
                        </div>

                        <div class="form-group graphic-input has-feedback"
                             ng-class="{'has-error' : registration.password.$invalid && !registration.password.$pristine">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                <input type="password" name="password" class="form-control" ng-model="data.password"
                                       placeholder="Password" required>
                            </div>
                        </div>

                        <div class="form-group graphic-input has-feedback"
                             ng-class="{'has-error' : registration.email.$invalid && !registration.email.$pristine,
                                        'has-success' : registration.email.$valid && !registration.email.$pristine}">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                                <input type="email" name="email" class="form-control" ng-model="data.email"
                                       placeholder="Email" required>
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                                  ng-show="registration.email.$valid"></span>

                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-show="registration.email.$invalid && !registration.email.$pristine"></span>
                        </div>

                        <div class="form-group graphic-input has-feedback"
                             ng-class="{'has-error' : registration.firstName.$invalid && !registration.firstName.$pristine,
                                        'has-success' : registration.firstName.$valid && !registration.firstName.$pristine}">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-font"></span>
                                <input type="text" name="firstName" class="form-control" ng-model="data.firstName"
                                       placeholder="First Name" required>
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                                  ng-show="registration.firstName.$valid"></span>

                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-show="registration.firstName.$invalid && !registration.firstName.$pristine"></span>
                        </div>

                        <div class="form-group graphic-input has-feedback"
                             ng-class="{'has-error' : registration.lastName.$invalid && !registration.lastName.$pristine,
                                        'has-success' : registration.lastName.$valid && !registration.lastName.$pristine}">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-bold"></span>
                                <input type="text" name="lastName" class="form-control" ng-model="data.lastName"
                                       placeholder="Last Name" required>
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                                  ng-show="registration.lastName.$valid"></span>

                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-show="registration.lastName.$invalid && !registration.lastName.$pristine"></span>
                        </div>

                        <div class="registration-button-group">
                            <button class="btn btn-success" ng-click="save()">
                                <span class="glyphicon glyphicon-upload"></span> Register
                            </button>

                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-download"></span> Cancel
                            </button>

                        </div>
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>