<!doctype html>
<html lang="en" ng-app="talkos" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/styles/talkos.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap_spacelab.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.css}"/>
</head>
<body>

<div ng-cloak="ng-cloak" ng-view="ng-view"></div>

<script type="text/javascript" th:src="@{/resources/bower_components/angular/angular.js}"/>
<script type="text/javascript" th:src="@{/resources/bower_components/angular-route/angular-route.js}"/>
<script type="text/javascript" th:src="@{/resources/bower_components/angular-cookies/angular-cookies.js}"/>
<script type="text/javascript" th:src="@{/resources/bower_components/angular-bootstrap/ui-bootstrap.js}"/>
<script type="text/javascript" th:src="@{/resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"/>
<script type="text/javascript" th:src="@{/resources/bower_components/ng-flow/dist/ng-flow-standalone.js}"/>
<script type="text/javascript" th:src="@{/resources/bower_components/angular-resource/angular-resource.js}"/>

<!--custom scripts-->
<script type="text/javascript" th:src="@{/resources/js/app/app.js}"/>
<!--Login-->
<script type="text/javascript" th:src="@{/resources/js/app/login/login.controller.js}"/>
<script type="text/javascript" th:src="@{/resources/js/app/login/login.js}"/>

<!--Home-->
<script type="text/javascript" th:src="@{/resources/js/app/home/home.controller.js}"/>
<!--Registration-->
<script type="text/javascript" th:src="@{/resources/js/app/registration/registration.controller.js}"/>
<script type="text/javascript" th:src="@{/resources/js/app/registration/registration.js}"/>
<script type="text/javascript" th:src="@{/resources/js/app/service/account.service.js}"/>

</body>
</html>