@import "../bower_components/bootstrap/dist/css/bootstrap_spacelab.css";

html, body {
    background-image: url(../images/background.jpg);
}

/*Login page styles (start)*/
.login-panel {
    width: 25%;
    margin-top: 15%;
    margin-left: 37%;
}

/*Need to overload bootstrap selector*/
.login-panel > .panel-body > .alert-dismissable .close {
    position: inherit;
}

.login-container > .panel-body {
    padding: 5%;
}

.form-group {
    margin-bottom: 5px !important;
}

.graphic-input {
    padding-bottom: 2%;
    width: 100%;
}

.graphic-input > .input-group >.glyphicon {
    top: 0;
}

.control-btn {
    margin-right: 5%;
}

.panel-body > .alert {
    padding: 2%;
    text-align: center;
}

/*Login page styles (end)*/

/*registration page styles (start)*/
.registration-panel {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}

.col-md-7.registration-input-group {
    padding-left: 0px;
}
.registration-button-group {
    margin: auto;
    text-align: center;
}

.col-sm-3.avatar {
    padding-right: 0%;
}

.avatar > .thumbnail {
    margin-bottom: 7px;
}

.avatar > .thumbnail > img {
    max-width: 105px;
    min-width: 105px;
    max-height: 105px;
    min-height: 105px;
}
.btn.load-avatar-btn {
    padding: 5px 10px;
    width: 100%;

}
/*registration page styles (end)*/

/*home page styles (start)*/

.home-panel {
    width: 78%;
    margin-left: 11%;
    margin-top: 2%;
}

.panel-heading.home-panel-heading {
    display: block;
    overflow: auto;
    padding: 5px 15px;
}
.panel-heading > .title {
    float: left;
    vertical-align: middle;
    padding-top: 5px;
}

.panel-heading > .btn {
    float: right;
}

/*home page styles (end)*/