html, body {
    background-image: url(../images/background.jpg);
}

/*Login page styles (start)*/
.login-panel {
    width: 25%;
    margin-top: 15%;
    margin-left: 37%;
}

/*Need to overload bootstrap selector*/
.login-panel > .panel-body > .alert-dismissable .close {
    position: inherit;
}

.login-container > .panel-body {
    padding: 5%;
}

.graphic-input {
    padding-bottom: 2%;
}

.graphic-input > .glyphicon {
    top: 0;
}

.control-btn {
    margin-right: 2%;
}

.panel-body > .alert {
    padding: 2%;
    text-align: center;
}

/*Login page styles (end)*/

/*registration page styles (start)*/
.registration-panel {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}

.col-md-7.registration-input-group {
    padding-left: 0px;
}

.avatar > .thumbnail{
    width: 100%;
}

.btn.load-avatar-btn {
    color: #FF0000;
    text-align: center;
}

.registration-button-group {
    margin: auto;
    text-align: center;
}

/*registration page styles (end)*/