html, body {
    background-image: url(../images/background.jpg);
}

/*Login page styles (start)*/
.login-panel {
    width: 25%;
    margin-top: 15%;
    margin-left: 37%;
}

/*Need to overload bootstrap selector*/
.login-panel > .panel-body > .alert-dismissable .close {
    position: inherit;
}

.login-container > .panel-body {
    padding: 5%;
}

.user-input, .password-input {
    padding-bottom: 2%;
}

.user-input > .glyphicon, .password-input > .glyphicon {
    top: 0;
}

.control-btn {
    margin-right: 2%;
}

.panel-body > .alert {
    padding: 2%;
    text-align: center;
}

/*Login page styles (end)*/

/*registration page styles (start)*/
.registration-panel {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}

.avatar > .thumbnail{
    width: 160px;
    height: 160px;
}
/*registration page styles (end)*/